@import "../variables";

.about {
    height: 100vh;
    background-color: $gray-light;

    &__container {
        padding-bottom: 50px;
        padding-top: 50px;
        height: 100%;
    }

    &__title {
        font-size: 36px;
        padding-bottom: 24px;
    }

    &__text {
        padding-bottom: 12px;
        line-height: 20px;
    }
}
