@import "../variables";

.portfolio-block {
    background-color: $bg-gray;
    height: 100vh;

    &__title-container {
        display: flex;
        justify-content: center;
    }

    &__title {
        padding: 20px 20px 10px 20px;
        font-size: 50px;
        border-bottom: 5px solid white;
        text-align: center;
    }

    &__items {
        padding-top: 20px;
    }

    &__item-title {
        font-size: 90px;
        padding-right: 10px;
    }

    &__link {
        color: inherit;
    }

    &__name-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

    &__item-name {
        font-size: 40px;
        border-bottom: 2px solid $white;
        margin-bottom: 10px;
    }

    &__item-description {
        max-width: 205px;
        text-align: end;
    }

    &__first-item {
        display: flex;
        width: fit-content;
    }
}
