<div class="about">
    <div class="about__container container">
        <h1 class="about__title">Приветствую, меня зовут Марго! Я фронтенд-разработчик.</h1>
        <!-- <p class="about__text">Делаю продающие, адаптивные и быстрые сайты.</p>
        <p class="about__text">Кратко изучу ваш бизнес, стиль, предпочтения и на выходе вы получаете крутой сайт,
            который
            закроет ваши
            нужды.</p>
        <p class="about__text">Помогу определиться с дизайном и фирменным стилем.</p> -->
        <p class="about__text">Мой опыт коммерческой разработки сайтов более 3-х лет</p>
        <p class="about__text">Языки, которыми я владею: русский, английский (Upper Intermediate), корейский, болгарский
            (начальный)</p>
        <p class="about__text">Завершила множество проектов в одиночку (коммуникация с заказчиком, планирование,
            разработка), так и в команде.</p>
        <p class="about__text">Скиллы:
            <br>
            - JS, TS, Effector
            <br>
            - Уверенное использование команд GIT
        </p>
        <p class="about__text">
            Frontend:
            <br>
            - ReactJS, AngularJS, VueJS
            <br>
            - Сложная кроссбраузерная верстка (SCSS, SASS)
            <br>- E-mail markup
            <br>- Веб анимация
            <br>- Сборка Webpack
            <br> - Разработка и администрирование сайтов на Wordpress (WooCommerce)
        </p>
        <p class="about__text">
            Backend:
            <br>- Некоторый опыт разработки на NodeJS + ExpressJS + MySQL
        </p>
    </div>
</div>