<div class="about">
    <div class="about__container container">
        <h1 class="about__title">Приветствую, меня зовут Марго! Я фронтенд-разработчик.</h1>
        <!-- <p class="about__text">Делаю продающие, адаптивные и быстрые сайты.</p>
        <p class="about__text">Кратко изучу ваш бизнес, стиль, предпочтения и на выходе вы получаете крутой сайт,
            который
            закроет ваши
            нужды.</p>
        <p class="about__text">Помогу определиться с дизайном и фирменным стилем.</p> -->
        <p class="about__text">Мой опыт коммерческой разработки сайт более 3-х лет</p>
        <p class="about__text">Языки, которыми я владею: русский, английский (Upper Intermediate), корейский, болгарский
            (начальный)
            языками.</p>
        <p class="about__text">Завершила множество проектов в одиночку (коммуникация с заказчиком, планирование,
            разработка), так и в команде.</p>
        <div class="about__soon">
            <p>p.s: скоро здесь появится много крутых штук</p>
        </div>
    </div>
</div>