<footer class="main">
    <div class="main__container container">
        <div class="main__photo-block">
            <div class="main__photo-container">
                <img src="/img/margo-main.png" alt="" class="main__photo">
                <img src="/img/margo-main-mob.jpg" alt="" class="main__photo-mob">
                <h1 class="main__name">MARGO</h1>
                <h1 class="main__dev">FRONTEND <br> DEVELOPER</h1>
            </div>
        </div>
    </div>
</footer>