<footer class="main">
    <div class="main__container container">
        <div class="main__photo-block">
            <img src="/img/margo-main.png" alt="" class="main__photo">
        </div>
        <div class="main__info">
            <h1 class="main__title">Привет, меня зовут Марго! Я фронтенд-разработчик.</h1>
            <p class="main__text">Делаю продающие, адаптивные и быстрые сайты.</p>
            <p class="main__text">Кратко изучу ваш бизнес, стиль, предпочтения и на выходе вы получаете крутой сайт,
                который
                закроет ваши
                нужды.</p>
            <p class="main__text">Помогу определиться с дизайном и фирменным стилем.</p>
            <a target="_blank" href="https://t.me/MgO_8" class="main__contact">Связаться со мной в телеграм</a>
            <div class="main__soon">
                <p>p.s: скоро здесь появится много крутых штук</p>
            </div>
        </div>
    </div>

</footer>