<div class="portfolio-block" id="portfolio">
    <div class="portfolio-block__container container">
        <div class="portfolio-block__title-container">
            <h1 class="portfolio-block__title">
                МОИ <br> РАБОТЫ
            </h1>
        </div>
        <div class="portfolio-block__items">
            <div class="portfolio-block__items__left">
                <a href="#42px" class="portfolio-block__link">
                    <div class="portfolio-block__first-item">
                        <h1 class="portfolio-block__item-title">
                            1.
                        </h1>
                        <div class="portfolio-block__name-block">
                            <p class="portfolio-block__item-name">
                                42px
                            </p>
                            <p class="portfolio-block__item-description">
                                Сайт для IT-компании 42px
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#nicestudio" class="portfolio-block__link">
                    <div class="portfolio-block__first-item">
                        <h1 class="portfolio-block__item-title">
                            2.
                        </h1>

                        <div class="portfolio-block__name-block">
                            <p class="portfolio-block__item-name">
                                Nicestudio
                            </p>
                            <p class="portfolio-block__item-description">
                                Веб-приложение для танцевальной студии
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="portfolio-block__items__right">
                <a href="#your" class="portfolio-block__link">
                    <div class="portfolio-block__first-item">
                        <h1 class="portfolio-block__item-title">
                            3.
                        </h1>

                        <div class="portfolio-block__name-block">
                            <p class="portfolio-block__item-name">
                                Ваш сайт
                            </p>
                            <p class="portfolio-block__item-description">
                                Это может быть ваш крутой личный сайт или вашей компании
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="portfolio-block__items-list">
            <h1 class="portfolio-block__items-list-more">Еще несколько работ:</h1>
            <p class="portfolio-block__items-list-item"><span class="portfolio-block__items-list-item-span">-</span>
                Веб-приложение агрегатор банковских услуг. AngularJS + SASS. В уже существующем проекте мною были
                свёрстаны и написаны на JS десятки компонентов с интеграцией сторонних модулей и элементарной
                бизнес-логикой.
            </p>
            <p class="portfolio-block__items-list-item"><span class="portfolio-block__items-list-item-span">-</span>
                Проект календарей для блогеров. VueJS + SASS. Фронтенд разработан мною с нуля. Разработаны десятки
                компонентов, включая вёрстку.
            </p>
            <p class="portfolio-block__items-list-item"><span class="portfolio-block__items-list-item-span">-</span>
                Сайт крупной страховой компании. EJS + SASS. С нуля свёрстан статичный сайт для крупнейшей страховой
                компании РФ.
            </p>
            <p class="portfolio-block__items-list-item"><span class="portfolio-block__items-list-item-span">-</span>
                Доработка интернет-магазина на Wordpress (WooCommerce), поддержка, администрирование и написание новых
                фич.
            </p>
        </div>
    </div>
</div>