<div class="portfolio-42px" id="42px">
    <div class="portfolio-42px__container container">
        <div class="portfolio-42px__about">
            <p class="portfolio-42px__about-stack">
                STACK: ejs, scss, js
            </p>
        </div>
        <h1 class="portfolio-42px__title">
            Сайт для <br> IT-компании <br> 42px
        </h1>
        <img class="portfolio-42px__gif" src="/img/42px.gif" alt="">
    </div>
</div>