<div class="portfolio-42px" id="42px">
    <div class="portfolio-42px__container container">
        <div class="portfolio-42px__about">
            <p class="portfolio-42px__about-stack">
                STACK: EJS + SASS + EJS + NodeJS + MySQL
            </p>
            <p class="portfolio-42px__desc">
                Лендинг для студии разработки с формой обратной связи. Разработан с нуля.
            </p>
        </div>
        <a href="https://42px.org/en" target="_blank" class="portfolio-42px__title">
            Сайт для <br> IT-компании <br> 42px
        </a>
        <img class="portfolio-42px__gif" src="/img/42px.gif" alt="">
    </div>
</div>