<div class="portfolio-block" id="portfolio">
    <div class="portfolio-block__container container">
        <div class="portfolio-block__title-container">
            <h1 class="portfolio-block__title">
                МОИ <br> РАБОТЫ
            </h1>
        </div>
        <div class="portfolio-block__items">
            <a href="#42px" class="portfolio-block__link">
                <div class="portfolio-block__first-item">
                    <h1 class="portfolio-block__item-title">
                        1.
                    </h1>

                    <div class="portfolio-block__name-block">
                        <p class="portfolio-block__item-name">
                            42px
                        </p>
                        <p class="portfolio-block__item-description">
                            Сайт для IT-компании 42px
                        </p>
                    </div>
                </div>
            </a>
            <a href="#nicestudio" class="portfolio-block__link">
                <div class="portfolio-block__first-item">
                    <h1 class="portfolio-block__item-title">
                        2.
                    </h1>

                    <div class="portfolio-block__name-block">
                        <p class="portfolio-block__item-name">
                            Nicestudio
                        </p>
                        <p class="portfolio-block__item-description">
                            Веб-приложение для танцевальной студии
                        </p>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>