<div class="portfolio-your" id="your">
    <div class="portfolio-your__container container">
        <div class="portfolio-your__about">
            <p class="portfolio-your__desc">
                Ваш сайт будет продающим, адаптивным и быстрым.
            </p>
            <p class="portfolio-your__desc">
                Кратко изучу ваш бизнес, стиль, предпочтения и на выходе вы получаете крутой сайт, который закроет ваши
                нужды.
            </p>
            <p class="portfolio-your__desc">
                Помогу определиться с дизайном и фирменным стилем.
            </p>
            <a target="_blank" href="https://t.me/MgO_8" class="portfolio-your__contact">Связаться со мной в
                телеграм</a>
        </div>
        <a href="https://app.nicestudio.pro/" target="_blank" class="portfolio-your__title">
            Ваш <br> будущий <br> сайт
        </a>
        <img class="portfolio-your__gif" src="/img/your.gif" alt="">
    </div>
</div>