<div class="portfolio-niceday" id="nicestudio">
    <div class="portfolio-niceday__container container">
        <div class="portfolio-niceday__about">
            <p class="portfolio-niceday__about-stack">
                STACK: ---
            </p>
            <p class="portfolio-niceday__desc">
                Веб-приложение для танцевальной студии.
            </p>
        </div>
        <a href="https://app.nicestudio.pro/" target="_blank" class="portfolio-niceday__title">
            Веб-приложение Nicestudio
        </a>
        <img class="portfolio-niceday__gif" src="/img/niceday.gif" alt="">
    </div>
</div>