<header class="table-content">
    <div class="table-content__container container">
        <div class="table-content__left">
            <div class="table-content__left-item">
                <p>ОБО МНЕ</p>
                <hr class="table-content__hr" />
            </div>
            <div class="table-content__left-item">
                <p>МОИ РАБОТЫ</p>
                <hr class="table-content__hr" />
            </div>
            <div class="table-content__left-item">
                <p>ЦЕНЫ</p>
                <hr class="table-content__hr" />
            </div>
            <div class="table-content__left-item">
                <p>КОНТАКТЫ</p>
                <hr class="table-content__hr" />
            </div>
        </div>
        <div class="table-content__right-title">
            СОДЕРЖАНИЕ.
        </div>
    </div>
</header>