<div class="table-content">
    <div class="table-content__container container">
        <div class="table-content__left container">
            <a class="table-content__link" href="#about">
                ОБО МНЕ
                <hr class="table-content__hr" />
            </a>
            <a class="table-content__link" href="#portfolio">
                <p>МОИ РАБОТЫ</p>
                <hr class="table-content__hr" />
            </a>
            <a class="table-content__link" href="">
                <p>ЦЕНЫ</p>
                <hr class="table-content__hr" />
            </a>
            <a class="table-content__link" href="">
                <p>КОНТАКТЫ</p>
                <hr class="table-content__hr" />
            </a>
        </div>
        <div class="table-content__right-title">
            СОДЕРЖАНИЕ.
        </div>
    </div>
</div>