@import "./fonts";
@import "./variables";
@import "./reset";

html {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $black;
}

body.scroll-enable {
  position: fixed;
  overflow: hidden;
}

@import "./vendor/index";

@import "./components/index";
